.App {
 text-align: center;
 color: aliceblue;
 background-color: slategray;
 height: 100vh;
 display: flex;
 justify-content: center;
}

#display{
margin-top: 25vh;
display: flex;
justify-content: stretch;
}



span{
  font-size: 5rem;


}

button{
  width: 5rem;
  height: 2.6rem;
  background-color: rgb(158, 22, 22);
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  border:0px;
}

.container{
  height: 100;
}